<div class="row red text-center">
  {{@error.message}}
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <BgButton @type="submit" @theme="secondary" @action={{@close}} @class="mt4">
      Close
    </BgButton>
  </div>
</div>